.DS_Store
application/cache/*
application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

arquivos_alterados_local.txt
application/config/database.php
.htaccess
